**Assignment 2 CC By Yash Singhal(102316047)**

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [1]:
#1.i
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print(L)

#1.ii
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.remove(10)
L.remove(30)
print(L)

#1.iii
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort()
print(L)

#1.iv
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [2]:
#2.i
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
max = max(scores)
print(max, scores.index(max))

#2.ii
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
min = min(scores)
print(min, scores.count(min))

#2.iii
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
reversed_scores = list(scores[::-1])
print(reversed_scores)

#2.iv
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
num = int(input("Enter a score to check: "))
if num in scores:
    print(scores.index(num))
else:
    print("Not present")

92 5
45 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
0

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [6]:
#3.i
import random
numbers = [random.randint(100, 900) for _ in range(100)]
odds = []
evens = []
primes = []
for num in numbers:
    if num % 2 != 0:
        odds.append(num)
    else:
        evens.append(num)
    is_prime = True
    if num < 2:
        is_prime = False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print("Odd numbers:", odds)
print("Even numbers:", evens)
print("Prime numbers:", primes)

Odd numbers: [525, 735, 493, 775, 877, 751, 417, 603, 739, 713, 779, 537, 419, 511, 767, 795, 529, 429, 211, 777, 135, 117, 813, 725, 473, 417, 451, 291, 765, 681, 481, 109, 145, 281, 249, 373, 397, 839, 509, 237, 191, 497, 379, 207, 895, 787, 305]
Even numbers: [140, 366, 596, 562, 130, 576, 224, 680, 264, 398, 134, 144, 786, 726, 668, 454, 684, 262, 638, 742, 568, 780, 858, 706, 620, 658, 670, 848, 244, 480, 386, 546, 814, 846, 110, 600, 554, 708, 788, 580, 294, 544, 452, 614, 156, 308, 318, 616, 352, 666, 204, 860, 564]
Prime numbers: [877, 751, 739, 419, 211, 109, 281, 373, 397, 839, 509, 191, 379, 787]

4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [7]:
#4.i
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))

#4.ii
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.intersection(B))

#4.iii
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.symmetric_difference(B))

#4.iv
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.issubset(B))
print(B.issuperset(A))

#4.v
A = {34, 56, 78, 90}
X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print(A)
else:
    print("Not present in A")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False
Not present in A

5. Write a program to rename a key city to a locaƟon in the following dicƟonary.
   Given
   sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
    }
    Expected Output
    {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}

In [8]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}